[ids]
*

[global]
oneshot_timeout = 5000

[main]
control = oneshot(control)
meta = oneshot(meta)
shift = oneshot(shift)
alt = oneshot(alt)
rightalt = oneshot(alt)
leftshift+leftmeta+f23 = oneshot(control) 

[control:C]
control = clear()

[meta:M]
meta = clear()

[shift:S]
shift = clear()

[alt:A]
alt = clear()
rightalt = clear()
